# Auto detect text files and perform LF normalization
* text eol=lf

# JS files must always use LF for tools to work
*.js text eol=lf


*.md text eol=lf

*.ttf   binary
*.ttf   binary
*.woff   binary
*.woff2   binary
*.eot   binary
*.otf   binary


*.jpg   binary
*.png   binary
